@model FloristManagement.Models.Occasion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Edit an occasion</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    @using (Html.BeginForm("Edit", "Occasions", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input name="OccasionID" type="hidden" value="@Model.OccasionID" />
        <div class="form-group col-md-3">
            <label class="control-label">Tên sự kiện</label>
            <input type="text" name="Name" class="form-control" value="@Model.Name" />
        </div>

        <div class="form-group col-md-12">
            <label class="control-label">Ảnh sự kiện</label>
            <div id="myfileupload">
                <input type="file" id="ImageFile" name="ImageFile" onchange="readURL(this);" />
            </div>
            <div id="thumbbox">
                <img height="450" width="400" alt="Thumb image" id="thumbimage" style="display: none" />
                <a class="removeimg" href="javascript:"></a>
            </div>
            <div id="boxchoice">
                <a href="javascript:" class="Choicefile"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh</a>
                <p style="clear:both"></p>
            </div>
            <img src="@Url.Content(Model.ImagePath)" width="100px" />
        </div>
        <div class="form-group">
            <input class=" form-control col-md-2" type="submit" value="Create" />
            <hr />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</main>
