@model FloristManagement.Models.Admin
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Sign up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Flash Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, Flash Able, Flash Able bootstrap admin template">
    <meta name="author" content="Codedthemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/Icon/logo32x32.png" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>
<body>
    <!-- [ auth-signup ] start -->
    <div class="auth-wrapper">
        <div class="auth-content container">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="card-body">
                            <img src="~/assets/images/Icon/3.gif" width="170" height="170">
                            <h4 class="mb-3 f-w-400">Sign up into your account</h4>
                            @if (ViewBag.error != null)
                            {
                                <h4  class="mb-3 f-w-400 text-danger">@ViewBag.error</h4>

                            }
                            @using (Html.BeginForm("Signup", "Home", FormMethod.Post))
                            {
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-user"></i></span>
                                    </div>
                                    <input type="text" name="Username" class="form-control" placeholder="Username">
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-mail"></i></span>
                                    </div>
                                    <input type="email" name="Email" class="form-control" placeholder="Email address">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                    </div>
                                    <input type="password" name="Password" class="form-control" placeholder="Password">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <input type="submit" class="btn btn-primary" value="Signup" />
                                    </div>
                                </div>
                            }
                            <p class="mb-2">Already have an account? <a href="/Admin/Home/Login" class="f-w-400">Log in</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <img src="~/assets/images/pl2000041183-800x800.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ auth-signup ] end -->
    <!-- Required Js -->
    <script src="~/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>


    <div class="footer-fab">
        <div class="b-bg">
            <i class="fas fa-question"></i>
        </div>
        <div class="fab-hover">
            <ul class="list-unstyled">
                <li><a href="~/default/index.html" target="_blank" data-text="UI Kit" class="btn btn-icon btn-rounded btn-info m-0"><i class="feather icon-layers"></i></a></li>
                <li><a href="~/default/index.html" target="_blank" data-text="Document" class="btn btn-icon btn-rounded btn-primary m-0"><i class="feather icon feather icon-book"></i></a></li>
            </ul>
        </div>
    </div>


</body>

</html>

