.Main_main {
  flex: 0 1 auto;
  margin-bottom: 16px;
}
.Main_flex {
  display: flex;
  flex-wrap: wrap;
}
.Main_fullwidth {
  width: 100%;
}
@media all and (min-width: 720px) {
.Main_fullwidth {
    flex: 1
}
  }
@media all and (min-width: 480px) {
.Main_margin {
    padding-top: 48px
}
  }
@media all and (min-width: 720px) {
.Main_hasSidebar {
    flex: 1;
    width: calc(100% - 221px);
    margin-right: 20px
}
  }
@media all and (min-width: 1024px) {
.Main_hasSidebar {
    flex: 1;
    width: calc(100% - 300px)
}
  }

.Aside_aside {
  flex: 0 1 auto;
  margin-bottom: 16px;
}
@media all and (min-width: 720px) {
  .Aside_aside {
    padding-top: 48px;
  }
}

.Card_card {
  background-color: #fff;
}
.Card_container {
  flex: 1 1 100%;
  background-color: transparent;
  margin: 10px 0 0;
}
.Card_main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.Card_main,
.Card_bottom,
.Card_half {
  padding: 16px;
  margin-bottom: 16px;
}
.Card_half {
  flex: 1 1 45%;
  margin-bottom: 0;
}
.Card_aside {
  padding: 16px;
  width: 100%;
}
.Card_mainListingPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 16px;
  margin-bottom: 20px;
}
.Card_getInTouch {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.Card_homepageTopicWrapper {
  overflow: hidden;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
.Card_homepageTopicWrapper:first-child > div > div {
  border-top: 1px solid #dddddd;
}
.Card_homepageTopicWrapper:last-child > div > div {
  border-bottom: 0;
}
@media all and (min-width: 640px) {
  .Card_homepageTopicWrapper {
    flex: 1 1 40%;
    margin: 0 10px 20px;
    padding: 4px 24px;
  }

  .Card_homepageTopicWrapper:last-child > div > div {
    border-bottom: 1px solid #dddddd;
  }

  .Card_half {
    margin: 0 10px 10px;
  }

  .Card_homepageTopicWrapper:first-child > div > div {
    border-top: 0;
  }
}
@media all and (min-width: 720px) {
  .Card_main {
    padding: 24px;
  }

  .Card_mainListingPage {
    padding: 0 16px 0 16px;
  }

  .Card_getInTouch {
  }

  .Card_bottom {
    padding: 16px;
  }
  .Card_app {
    flex-direction: row;
  }
  .Card_aside {
    width: 221px;
  }
}
@media all and (min-width: 840px) {
  .Card_homepageTopicWrapper {
    flex: 1 1 26%;
    margin: 0 10px 20px;
    padding: 4px 24px;
  }

  .Card_container {
    flex: 1 1 40%;
  }
}
@media all and (min-width: 1024px) {
  .Card_aside {
    width: 300px;
  }
}

.Hero_heroText {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.33;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  width: 100%;
  padding: 16px 40px;
}
.Hero_heroHomepage .Hero_heroText {
  font-size: 24px;
  bottom: 76px;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  position: relative;
}
.Hero_heroContainer {
  height: 120px;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
}
.Hero_heroContainer.Hero_heroHomepage {
  height: 164px;
  align-items: flex-end;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.Hero_heroContainer:after {
  content: "";
  opacity: 0.49;
  background-color: #2d2d2d;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.Hero_heroContainer.Hero_noImage:after {
  opacity: 0.75;
}
.Hero_form {
  height: 100%;
  width: 100%;
}
.Hero_searchBar {
  height: 40px;
  width: 100%;
  max-width: 288px;
  display: flex;
  color: #767676;
  position: relative;
  margin-bottom: 32px;
  z-index: 3;
  border-radius: 24px;
}
.Hero_searchBar input {
  border: 1px solid #767676;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: "futura-pt";
  line-height: 1.38;
  letter-spacing: 0.4px;
  padding-left: 20px;
  padding-right: 43px;
  border-radius: 22px;
  position: absolute;
  z-index: 1000;
  -webkit-appearance: initial;
}
.Hero_searchBar input:focus {
  outline: none;
  box-shadow: inset 0 0 3px 1px #0770cf;
  border-radius: 22px;
}
.Hero_searchBar button {
  border: none;
  background: none;
  height: 100%;
  position: absolute;
  vertical-align: middle;
  cursor: pointer;
  z-index: 1000;
  color: #2d2d2d;
  transition: background-color 0.3s;
}
.Hero_searchBar .Hero_submitButton {
  border-radius: 50%;
  top: 0;
  right: 0;
  height: 39px;
  width: 39px;
}
.Hero_searchBar button.Hero_active {
  background-color: #0770cf;
  color: #fff;
}
.Hero_searchBar form > button:focus {
  border: 2px solid #fff;
  outline: none;
  box-shadow: 0 0 3px 1px #0770cf;
}
.Hero_searchBar ul li button:focus {
  background-color: #ddd;
}
.Hero_searchBar button svg {
  display: inline;
  vertical-align: middle;
  padding-top: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.Hero_searchBar button[disabled] svg path {
  fill: #2d2d2d;
}
.Hero_searchBar button svg path {
  fill: #fff;
}
@media all and (min-width: 480px) {
  .Hero_heroContainer {
    height: 164px;
  }

  .Hero_heroHomepage .Hero_heroText {
    line-height: 1.25;
    letter-spacing: 1.2px;
    font-size: 24px;
  }

  .Hero_searchBar input {
    padding-right: 53px;
  }
}
@media all and (min-width: 640px) {
  .Hero_heroHomepage .Hero_heroText {
    font-size: 36px;
    bottom: 90px;
  }

  .Hero_searchBar {
    height: 48px;
    width: 100%;
    max-width: 560px;
  }

  .Hero_heroContainer.Hero_heroHomepage {
    height: 260px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .Hero_searchBar .Hero_submitButton {
    height: 48px;
    width: 48px;
    padding: 15px;
    top: 0;
  }
}
@media all and (min-width: 720px) {
  .Hero_heroContainer {
    height: 206px;
  }

  .Hero_getInTouch {
    height: 220px;
  }
}
@media all and (min-width: 1024px) {
  .Hero_heroText {
    padding: 16px 140px;
  }
}

.SearchDropdown_searchDropdown {
  position: absolute;
  width: 100%;
  background: #f8f8f8;
  margin-top: 1px;
  box-shadow: 0 1px 1px 0 rgba(45, 45, 45, 0.41);
  z-index: 999;
  padding: 10px 0px;
}

.SearchDropdown_searchDropdown li button {
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: 0.4px;
  padding: 10px 16px;
  color: #2d2d2d;
  position: relative;
  vertical-align: baseline;
  vertical-align: initial;
  text-align: left;
  right: 0;
}

.SearchDropdown_searchDropdown li button:hover {
  background-color: #ddd;
}

.SearchDropdown_searchDropdown li button span {
  font-family: futura-pt, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.SearchDropdown_recentSearchesOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.SearchDropdown_searchDropdownHomePage {
  top: 25px;
  padding: 30px 0px 10px;
}

.SearchBar_searchBar {
  border: 1px solid #767676;
  height: 45px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  display: flex;
  color: #767676;
  position: relative;
  margin-bottom: 10px;
}
.SearchBar_searchBar[focus-within] {
  border: 1px solid #dddddd;
}
.SearchBar_searchBar:focus-within {
  border: 1px solid #dddddd;
}
.SearchBar_searchBar input {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 9px;
  padding-right: 43px;
  font-family: "futura-pt";
  font-size: 16px;
  text-overflow: ellipsis;
  z-index: 1000;
  -webkit-appearance: initial;
}
.SearchBar_form {
  height: 100%;
  width: 100%;
}
.SearchBar_searchBar input::-moz-placeholder {
  color: #767676;
  letter-spacing: 0.6px;
  font-size: 14px;
}
.SearchBar_searchBar input::placeholder {
  color: #767676;
  letter-spacing: 0.6px;
  font-size: 14px;
}
.SearchBar_searchBar input:focus {
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 0 3px 1px #0770cf;
  outline: none;
  box-shadow: inset 0 0 3px 1px #0770cf;
  border-radius: 0;
}
.SearchBar_searchBar input:focus::-webkit-input-placeholder {
  color: transparent;
}
.SearchBar_searchBar button {
  border: 1px solid transparent;
  background: none;
  width: 38px;
  height: 38px;
  padding: 0;
  position: absolute;
  right: 0;
  vertical-align: middle;
  cursor: pointer;
  z-index: 1000;
  color: #2d2d2d;
  top: 2px;
  transition: background-color 0.3s;
}
.SearchBar_searchBar button svg {
  display: inline-block;
  vertical-align: middle;
  top: -2px;
  left: -4px;
  position: relative;
}
.SearchBar_searchBar button:focus {
  border: 1px solid #ffffff;
  outline: none;
  -webkit-appearance: none;
  box-shadow: 0 0 3px 1px #0770cf;
}

.MyAccount_myaccount {
  background: #f8f8f8;
  text-align: left;
  margin: 12px 0;
  padding: 12px 16px 20px;
}
@media all and (min-width: 720px) {
.MyAccount_myaccount {
    padding: 12px 24px 20px
}
  }
@media all and (min-width: 1024px) {
.MyAccount_myaccount {
    padding: 12px 32px 20px
}
  }
.MyAccount_myaccount button {
    width: 100%;
    max-width: 330px;
  }
.MyAccount_title {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.6px;
  font-weight: 900;
  color: #2d2d2d;
  margin-bottom: 8px;
  display: block;
  text-transform: uppercase;
}
.MyAccount_description {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.4px;
  font-weight: 400;
  color: #2d2d2d;
  margin-bottom: 12px;
}

.Button_button {
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: 0.6px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-weight: 900;
  max-width: 510px;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-transform: uppercase;
  font-family: futura-pt, sans-serif;
}
.Button_button:focus {
    outline: none;
    box-shadow: 0px 0px 3px 1px #0770cf;
  }
.Button_white {
  background: #ffffff;
  color: #2d2d2d;
  border: 2px solid #dddddd;
}
.Button_white:hover {
    background-color: #eeeeee;
  }
.Button_black {
  color: #ffffff;
  background-color: #2d2d2d;
}
.Button_black:hover {
    background-color: #000000;
  }
.Button_grey {
  background: #eeeeee;
  color: #2d2d2d;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.8px;
}
.Button_grey:hover {
    background: #dddddd;
  }
.Button_small {
  padding: 0px 8px;
  min-height: 28px;
  line-height: 28px;
}
.Button_medium {
  padding: 0px 16px;
  min-height: 32px;
  line-height: 32px;
}
.Button_large {
  padding: 0px 16px;
  min-height: 44px;
  line-height: 44px;
}
.Button_loading div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.CardListItem_topicItem {
  border-bottom: 1px solid #dddddd;
  font-weight: 400;
}
.CardListItem_topicItem:first-child {
  border-top: 1px solid #dddddd;
}
.CardListItem_topicItem:last-child {
  border-bottom: 0;
}
.CardListItem_anchor {
  display: block;
  text-decoration: none;
  color: #2d2d2d;
  padding: 17px;
  padding-left: 40px;
  border-bottom: none;
  position: relative;
  min-height: 72px;
  display: flex;
  align-items: center;
}
.CardListItem_anchor:focus {
  outline: none;
  box-shadow: inset 0px 0px 3px 1px #0770cf;
}
.CardListItem_homepageTopicItem {
  border-bottom: 1px solid #dddddd;
  position: relative;
}
.CardListItem_imageWrapper {
  width: 44px;
  height: 44px;
  position: absolute;
  left: -10px;
  text-align: center;
  top: 50%;
  margin-top: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CardListItem_iconRight .CardListItem_imageWrapper {
  right: 0;
  left: auto;
}
.CardListItem_iconRight .CardListItem_anchor {
  padding-left: 5px;
  padding-right: 57px;
}
.CardListItem_icon {
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.CardListItem_textWrapper {
  display: inline-block;
  letter-spacing: 0.4px;
  line-height: 1.38;
  text-align: left;
  font-size: 16px;
}
a.CardListItem_anchor:hover .CardListItem_textWrapper {
  text-decoration: underline;
}
@media all and (min-width: 480px) {
  .CardListItem_iconRight .CardListItem_anchor {
    padding-left: 16px;
  }
}
@media all and (min-width: 640px) {
  .CardListItem_homepageTopicItem {
    border-top: 0;
    border-bottom: 1px solid #dddddd;
  }
  .CardListItem_homepageTopicItem:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    right: -100%;
    bottom: -1px;
  }

  .CardListItem_homepageTopicItem:before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    left: -100%;
    bottom: -1px;
  }
}

.CardHeader_header {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.6px;
  color: #2d2d2d;
  text-align: left;
  line-height: 1.38;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 5px;
  display: block;
}
@media all and (min-width: 480px) {
  .CardHeader_header {
    padding-left: 16px;
  }
}

.Button_button {
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: 0.6px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-weight: 900;
  max-width: 510px;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-transform: uppercase;
  font-family: futura-pt, sans-serif;
}
.Button_button:focus {
  outline: none;
  box-shadow: 0px 0px 3px 1px #0770cf;
}
.Button_white {
  color: #2d2d2d;
  border: 2px solid #dddddd;
}
.Button_white:hover {
    background-color: #eeeeee;
  }
.Button_black {
  color: #ffffff;
  background-color: #2d2d2d;
}
.Button_black:hover {
    background-color: #000000;
  }
.Button_grey {
  background: #eeeeee;
  color: #2d2d2d;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.8px;
}
.Button_grey:hover {
    background: #dddddd;
  }
.Button_caps {
  text-transform: uppercase;
}
.Button_small {
  padding: 0px 8px;
  min-height: 28px;
  line-height: 28px;
}
.Button_medium {
  padding: 0px 16px;
  min-height: 32px;
  line-height: 32px;
}
.Button_large {
  padding: 0px 16px;
  min-height: 44px;
  line-height: 44px;
}

.ViewRelatedQuestions_buttonContainer {
  text-align: center;
  padding-bottom: 16px;
  padding-top: 15px;
  border-top: 1px solid #dddddd;
}
@media all and (min-width: 640px) {
  .ViewRelatedQuestions_popularQuestions ul {
    margin-top: -10px;
    margin-bottom: -10px;
  }

  .ViewRelatedQuestions_popularQuestions ul li:first-child {
    border-top: 0;
  }
}

.InfoMessage_message {
  background: #ffebcc;
  padding: 20px 24px;
  display: flex;
  white-space: pre-wrap;
}
.InfoMessage_icon {
  margin: 1px 20px 0px;
}
.InfoMessage_text {
  margin-right: 56px;
  flex: 1;
}
.InfoMessage_text h3 {
  font-family: futura-pt, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.8px;
  font-weight: 900;
  }
.InfoMessage_text p {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.4px;
  font-weight: 400;
  }
[dir="ltr"] .InfoMessage_text ul {
    padding-left: 20px;
}
[dir="rtl"] .InfoMessage_text ul {
    padding-right: 20px;
}
.InfoMessage_text li {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.4px;
  font-weight: 400;
    list-style: disc;
  }
.InfoMessage_text a {
    color: #2d2d2d;
  }

.ChatBot_loading {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.ChatBot_hidden {
  display: none;
}

.ChatBot_chatFrame {
  height: 541px;
  margin-left: -16px;
  margin-right: -16px;
}

.ChatBot_chatFrame:empty {
    display: none;
  }

.ChatBot_chatFrame > div,
  .ChatBot_chatFrame iframe {
    width: 100% !important;
  }

@media all and (max-width: 720px) {

.ChatBot_chatFrame > div {
      position: fixed
  }
    }

.WithLoader_loader {
  display: flex;
  background: white;
}

  .WithLoader_loader > div {
    margin: auto;
  }

.WithLoader_hidden {
  display: none;
}

