/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/components/Banner/Banner.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.nrleB28Nm2mKNtpUIqlm {
  padding: 20px 30px 18px;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
}
.nrleB28Nm2mKNtpUIqlm._UHWu1dKyqpwHA4CmL0B {
  background-color: #cde2f5;
}

.noEPV13bHLAVLaWV59hY {
  margin-right: 17px;
  min-width: 20px;
}

.NhSwgmbPvXmc_ixs99ma {
  letter-spacing: 0.6px;
}
.NhSwgmbPvXmc_ixs99ma p {
  display: inline-block;
}

.PyRm2p5uLSfvQ5QHu2sP {
  width: 15px;
  margin-left: 20px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[3]!./src/components/NextDayDelivery/NextDayDelivery.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.cjKi4kud6Y7CiF1Wb5r9 {
  font-weight: 700 !important;
  padding: 3px 5px 0 0;
}
