
@{
    ViewBag.Title = "About";
}
<script src="~/Content/Root/CSS/About/stats.js"></script>
<script src="~/Content/Root/CSS/About/JavaScript.js"></script>
<link href="~/Content/Root/CSS/About/nicepage.css" rel="stylesheet" />
<main class="u-body" id="chrome-app-container">
    @* style *@
    <style>

        canvas {
            display: block;
            vertical-align: bottom;
        }

        /* ---- particles.js container ---- */

        #particles-js {
            width: 100%;
            background: rgb(140,116,127);
            background: radial-gradient(circle, rgba(140,116,127,1) 0%, rgba(0,0,0,1) 100%);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }

        /* ---- stats.js ---- */

        .count-particles {
            background: #000022;
            top: 48px;
            left: 0;
            width: 80px;
            color: #13E8E9;
            font-size: .8em;
            text-align: left;
            text-indent: 4px;
            line-height: 14px;
            padding-bottom: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
        }

        .js-count-particles {
            font-size: 1.1em;
        }

        #stats,
        .count-particles {
            -webkit-user-select: none;
        }

        #stats {
            border-radius: 3px 3px 0 0;
            overflow: hidden;
        }

        .count-particles {
            border-radius: 0 0 3px 3px;
        }
    </style>

    @*  *@
    <section class="u-align-center u-clearfix u-image u-section-2" style="height:unset">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1" id="particles-js">
            <h2 class="u-custom-font u-font-raleway u-text u-text-body-alt-color u-text-default u-text-1" style="position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;">Portfolio</h2>

        </div>
    </section>
    <script>

        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 200,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#000000"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "grab"
                    },
                    "onclick": {
                        "enable": false,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 140,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });


        /* ---- stats.js config ---- */

        var count_particles, stats, update;
        stats = new Stats;
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        document.body.appendChild(stats.domElement);

    </script>

    @*  *@
    <section class="u-clearfix u-grey-5 u-section-3" id="carousel_7b2b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-col">
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                                    <div class="u-container-layout u-valign-top u-container-layout-1">
                                        <img class="u-image u-image-default u-image-1" src="~/Content/Root/CSS/About/Images/pexels-photo-2120114.jpeg" alt="" data-image-width="720" data-image-height="1080">
                                    </div>
                                </div>
                                <div class="u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2">
                                    <div class="u-container-layout u-container-layout-2">
                                        <h2 class="u-custom-font u-font-raleway u-text u-text-default u-text-1">About Us</h2>
                                        <h6 class="u-text u-text-2">Meet My Leader</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-align-justify u-container-style u-layout-cell u-size-60 u-white u-layout-cell-3">
                                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                                        <p class="u-custom-font u-font-montserrat u-text u-text-4"> He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing. He as spoke avoid given downs money on we. Of properly carriage shutters ye as wandered up repeated moreover.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-align-justify u-container-style u-group u-palette-1-base u-group-1">
                <div class="u-container-layout u-valign-top u-container-layout-4">
                    <p class="u-text u-text-5"> Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. </p>
                    <div class="u-social-icons u-spacing-10 u-social-icons-1">
                        <a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name">
                            <span class="u-icon u-social-facebook u-social-icon u-text-white">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-0e85"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-0e85">
                                    <path fill="currentColor" d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2
c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path>
                                </svg>
                            </span>
                        </a>
                        <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/name">
                            <span class="u-icon u-social-icon u-social-twitter u-text-white">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-0d23"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-0d23">
                                    <path fill="currentColor" d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2
	c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7
	c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2
	c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5
	c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path>
                                </svg>
                            </span>
                        </a>
                        <a class="u-social-url" title="instagram" target="_blank" href="https://instagram.com/name">
                            <span class="u-icon u-social-icon u-social-instagram u-text-white">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-91bb"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-91bb">
                                    <path fill="currentColor" d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z
	 M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path>
                                    <path fill="#FFFFFF" d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path>
                                    <path fill="currentColor" d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7
	V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7
	c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-7" id="carousel_99b0">
        <div class="u-clearfix u-sheet u-sheet-1">
            <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 409.294 409.294" style=""><use xlink:href="#svg-2920"></use></svg><svg class="u-svg-content" viewBox="0 0 409.294 409.294" id="svg-2920"><path d="m0 204.647v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941v-58.471c-96.728 0-175.412 78.684-175.412 175.412z"></path><path d="m409.294 87.706v-58.471c-96.728 0-175.412 78.684-175.412 175.412v175.412h175.412v-175.412h-116.941c0-64.48 52.461-116.941 116.941-116.941z"></path></svg></span>
            <h6 class="u-text u-text-1">He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing.&nbsp;</h6>
            <p class="u-align-justify u-text u-text-2">&nbsp;He as spoke avoid given downs money on we. Of properly carriage shutters ye as wandered up repeated moreover. Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led.</p>
            <img class="u-border-20 u-border-palette-1-base u-image u-image-default u-image-1" src="~/Content/Root/CSS/About/Images/pexels-photo-8843111.jpeg" alt="" data-image-width="720" data-image-height="1080">
        </div>
    </section>
    @*  *@

    <section class="u-align-center u-clearfix u-grey-5 u-section-5" id="carousel_79ef">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h5 class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">our works</h5>
            <h1 class="u-custom-font u-font-raleway u-text u-text-2"> Build Great Products</h1>
            <div class="u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1" data-pswp-uid="1">
                <div class="u-gallery-inner u-gallery-inner-1">
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item" data-pswp-item-id="0" data-gallery-uid="1">
                        <div class="u-back-slide" data-image-width="626" data-image-height="417">
                            <img class="u-back-image u-expanded" src="~/Content/Root/CSS/About/Images/logo-mockup-black-facade-sign_145275-281.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-1">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item" data-pswp-item-id="1" data-gallery-uid="1">
                        <div class="u-back-slide" data-image-width="810" data-image-height="1080">
                            <img class="u-back-image u-expanded" src="~/Content/Root/CSS/About/Images/pexels-photo-5803334.jpeg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-2">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item" data-pswp-item-id="2" data-gallery-uid="1">
                        <div class="u-back-slide" data-image-width="549" data-image-height="549">
                            <img class="u-back-image u-expanded" src="~/Content/Root/CSS/About/Images/1ba96b87-604a-4b2b-ac50-8efd59ecabf2.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-3">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item" data-pswp-item-id="3" data-gallery-uid="1">
                        <div class="u-back-slide" data-image-width="626" data-image-height="417">
                            <img class="u-back-image u-expanded" src="~/Content/Root/CSS/About/Images/3d-lion-logo-mockup_145275-144.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-4">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item" data-pswp-item-id="4" data-gallery-uid="1">
                        <div class="u-back-slide" data-image-width="626" data-image-height="479">
                            <img class="u-back-image u-expanded" src="~/Content/Root/CSS/About/Images/falling-bussiness-cards-mockup_125540-886.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-5">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                    <div class="u-effect-fade u-effect-hover-zoom u-gallery-item" data-pswp-item-id="5" data-gallery-uid="1">
                        <div class="u-back-slide" data-image-width="700" data-image-height="878">
                            <img class="u-back-image u-expanded" src="~/Content/Root/CSS/About/Images/trrt.jpg">
                        </div>
                        <div class="u-over-slide u-shading u-over-slide-6">
                            <h3 class="u-gallery-heading"></h3>
                            <p class="u-gallery-text"></p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="u-text u-text-3">
                Images from <a href="https://www.freepik.com/photos/background" class="u-active-none u-border-1 u-border-black u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1" target="_blank">Freepik</a>
            </p>
            <a href="https://nicepage.com/c/art-design-website-templates" class="u-active-palette-1-light-2 u-border-none u-btn u-button-style u-hover-palette-1-light-2 u-palette-1-base u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2">Contact Us</a>
        </div>
    </section>
    @*  *@
    <section class="u-align-center u-clearfix u-grey-5 u-section-4" id="carousel_7104">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-left u-container-style u-expanded-width-xs u-group u-white u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h4 class="u-custom-font u-font-raleway u-text u-text-1">Your to do lis​t done</h4>
                    <ul class="u-custom-list u-spacing-10 u-text u-text-default u-text-2">
                        <li>
                            <div class="u-list-icon u-text-palette-1-base u-list-icon-1">
                                <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">●</div>
                            </div>Establish and act toward achieving goals<br>
                        </li>
                        <li>
                            <div class="u-list-icon u-text-palette-1-base u-list-icon-2">
                                <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">●</div>
                            </div>Increased level of engagement<br>
                        </li>
                        <li>
                            <div class="u-list-icon u-text-palette-1-base u-list-icon-3">
                                <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">●</div>
                            </div>Safe Place to Gain Perspective<br>
                        </li>
                        <li>
                            <div class="u-list-icon u-text-palette-1-base u-list-icon-4">
                                <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">●</div>
                            </div>Deeper Level of Learning<br>
                        </li>
                        <li>
                            <div class="u-list-icon u-text-palette-1-base u-list-icon-5">
                                <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">●</div>
                            </div>Build Personal Awareness<br>
                        </li>
                        <li>
                            <div class="u-list-icon u-text-palette-1-base u-list-icon-6">
                                <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">●</div>
                            </div>Boost your networking opportunities<br>
                        </li>
                    </ul>
                    <p class="u-text u-text-3">
                        Sed pulvinar proin gravida hendrerit lectus. Faucibus et molestie ac feugiat sed. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere morbi.&nbsp;<br>
                    </p>
                </div>
            </div>
            <img class="u-border-20 u-border-palette-1-base u-image u-image-default u-image-1" src="~/Content/Root/CSS/About/Images/pexels-photo-2468487.jpeg" alt="" data-image-width="773" data-image-height="1080">
        </div>
    </section>

    <section class="u-clearfix u-section-6" id="carousel_23e0">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-align-right u-container-style u-layout-cell u-size-22 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <img class="u-border-20 u-border-palette-1-base u-image u-image-1" src="~/Content/Root/CSS/About/Images/pexels-photo-952214.jpeg" data-image-width="997" data-image-height="1500">
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-size-38 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h4 class="u-custom-font u-font-raleway u-text u-text-1">Our Goals</h4>
                                <p class="u-text u-text-2">Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too.</p>
                                <div class="u-border-3 u-border-grey-25 u-expanded-width u-line u-line-horizontal u-line-1"></div>
                                <h6 class="u-text u-text-default u-text-3">Quality</h6>
                                <p class="u-text u-text-grey-30 u-text-4">Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too.</p>
                                <div class="u-border-3 u-border-grey-25 u-expanded-width u-line u-line-horizontal u-line-2"></div>
                                <h6 class="u-text u-text-default u-text-5">Results</h6>
                                <p class="u-text u-text-grey-30 u-text-6">Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too.Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too.</p>
                                <div class="u-border-3 u-border-grey-25 u-expanded-width u-line u-line-horizontal u-line-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-8" id="carousel_b22b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-valign-top u-container-layout-1">
                                <h3 class="u-text u-text-default u-text-1"> Brand strategy</h3>
                                <p class="u-text u-text-2"> Recruitment Agency that strives to help businesses put together a staff of highly efficient and skilled professionals, and also serve employees by opening up new vistas of job opportunities for them.</p>
                                <ul class="u-custom-list u-indent-20 u-spacing-0 u-text u-text-3">
                                    <li>
                                        <div class="u-list-icon">
                                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">—</div>
                                        </div>Brand equity audit
                                    </li>
                                    <li>
                                        <div class="u-list-icon">
                                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">—</div>
                                        </div>Audience analysis
                                    </li>
                                    <li>
                                        <div class="u-list-icon">
                                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">—</div>
                                        </div>Competitive review
                                    </li>
                                    <li>
                                        <div class="u-list-icon">
                                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">—</div>
                                        </div>Strategic direction
                                    </li>
                                </ul>
                                <a href="https://nicepage.com/css-templates" class="u-active-none u-btn u-button-style u-custom-font u-font-raleway u-hover-none u-none u-text-black u-text-hover-palette-1-base u-btn-1">
                                    <span class="u-icon u-text-palette-1-base u-icon-1"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><path style="fill:currentColor;" d="M256,0C114.617,0,0,114.617,0,256c0,52.03,15.563,100.414,42.231,140.818L0,512l119.128-39.706  C158.72,497.399,205.639,512,256,512c141.383,0,256-114.617,256-256S397.383,0,256,0z"></path><path style="fill:#FFFFFF;" d="M397.233,335.078V377.6c0.062,15.66-12.606,28.398-28.292,28.469c-0.892,0-1.783-0.035-2.675-0.115  c-43.705-4.74-85.689-19.641-122.571-43.52c-34.313-21.76-63.409-50.803-85.222-85.054c-24.002-36.979-38.938-79.086-43.599-122.898  c-1.412-15.59,10.108-29.378,25.732-30.791c0.847-0.062,1.686-0.106,2.534-0.106h42.611c14.257-0.141,26.412,10.293,28.407,24.382  c1.801,13.612,5.138,26.968,9.94,39.83c3.902,10.364,1.404,22.042-6.391,29.908l-18.035,17.999  c20.215,35.487,49.664,64.874,85.221,85.054l18.035-17.999c7.883-7.786,19.588-10.275,29.97-6.382  c12.888,4.802,26.271,8.13,39.91,9.922C387.09,308.312,397.594,320.689,397.233,335.078z"></path></svg><img></span>&nbsp;Chat Now
                                </a>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-palette-1-base u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h3 class="u-text u-text-4"> Communication strategy</h3>
                                <p class="u-text u-text-5"> Recruitment Agency that strives to help businesses put together a staff of highly efficient and skilled professionals, and also serve employees by opening up new vistas of job opportunities for them.</p>
                                <ul class="u-custom-list u-indent-20 u-text u-text-6">
                                    <li>
                                        <div class="u-list-icon">
                                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">—</div>
                                        </div>Visual positioning
                                    </li>
                                    <li>
                                        <div class="u-list-icon">
                                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">—</div>
                                        </div>Visual identity system
                                    </li>
                                    <li>
                                        <div class="u-list-icon">
                                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">—</div>
                                        </div>Icon &amp; illustration guides
                                    </li>
                                    <li>
                                        <div class="u-list-icon">
                                            <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">—</div>
                                        </div>Brand application
                                    </li>
                                </ul>
                                <a href="https://nicepage.com/k/chart-html-templates" class="u-active-none u-btn u-button-style u-hover-none u-none u-text-hover-palette-1-light-2 u-btn-2">
                                    <span class="u-icon u-text-white"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg><img></span>&nbsp;+1 (234) 567-8910
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>







</main>
